
/* You can use variables to store colors or other reusable styles */
$primary-color: #007bff;

/* Styling for the outer div */
// div {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   margin-top: 50px;

//   /* Styling for the h2 element */
//   h2 {
//     font-size: 24px;
//     color: $primary-color;
//   }

//   /* Styling for the form element */
//   form {
//     margin-top: 20px;

//     /* Styling for the col-lg-12 div */
//     .col-lg-12 {
//       display: flex;
//       flex-direction: column;
//       margin-bottom: 10px;

//       /* Styling for the label element */
//       label {
//         font-size: 16px;
//         color: $primary-color;
//       }

//       /* Styling for the input elements */
//       input {
//         width: 100%;
//         padding: 5px;
//         font-size: 14px;
//         border: 1px solid #ccc;
//         border-radius: 4px;
//       }
//     }

//     /* Styling for the button element */
//     button {
//       background-color: $primary-color;
//       color: #fff;
//       padding: 10px 20px;
//       font-size: 16px;
//       border: none;
//       border-radius: 4px;
//       cursor: pointer;

//       /* Hover effect */
//       &:hover {
//         background-color: darken($primary-color, 10%);
//       }
//     }
//   }

//   /* Styling for the error message div */
//   div[ngIf='errorMessage'] {
//     p {
//       color: red;
//       font-size: 14px;
//       margin-top: 10px;
//     }
//   }
// }

.MainLogin{
  // background-color: #66c5db;
  width: 25%;
  // color: white;
  height: 50%;
  margin-left: 37%;
}

.form-group{
  margin: 10px;
}
