<!-- <h4>User List</h4>
<button (click)="refreshUsers()" class="refresh-btn">Refresh User List</button>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <ol class="user-list">
            <li *ngFor="let user of users">
                <div class="user-info">
                    <p class="name">Name: {{ user.name }}</p>
                    <p class="email">Email: {{ user.email }}</p>
                </div>
                <hr>
            </li>
        </ol>
    </div>
</div> -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="user-list">
                <div class="user-item" *ngFor="let user of users">
                    <div class="user-avatar">{{ getInitials(user.name || '') }}</div>
                    <div class="user-details">
                        <div class="user-name">{{ user.name }}</div>
                        <div class="user-email">{{ user.email }}</div>
                        <!-- Add other user details if needed -->
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="chat-box">
                <div class="conversation-history">
                    <!-- Display the conversation history here -->
                </div>
                <div class="chat-input">
                    <textarea placeholder="Type your message"></textarea>
                    <button>Send</button>
                </div>
            </div>
        </div>
    </div>
</div>